---
title: Block in Hole
---

/ Assets 

- content_for(:javascripts) do
  = javascript_include_tag  "home"

- content_for(:stylesheets) do
  = stylesheet_link_tag  "home"

%script{:src => 'javascripts/game.js'}

%body{:onload => 'init();'}

/ Haml

%canvas#canvas

%div.credits
  %div.center-credits
    %div.center-cell
    %h2 Congratulations, you did it!
