// ==========================================================================
//
// Base CSS. 
// Only include things which need to appear in *every* page
//
//

@import "../../bower_components/normalize-css/normalize";

// Installed as a gem for lots of annoying reasons
@import "bourbon";

body {

  // Checks bourbon is running
  @include transition(all 0.4s);
  color: white;

}

// ==========================================================================
//
// Variables
// 

// ---------------------------------------------
// Typography

$base--font-size: 16px;

$base--line-height: 26px;

$font--base: 'BrandonText-Regular', "Helvetica", Arial, sans-serif;


// ---------------------------------------------
// Colour

$color--background: #76caca;
$alt-background: #97D3FF;

$color--text: #FFFBE4;

$dark-border: #3dbfb8;

.credits{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  background: $alt-background;
  z-index: 4;
  display: none;
  text-align: center;

  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
  
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  
  -webkit-animation-duration:200ms;
  -moz-animation-duration:200ms;
  animation-duration:200ms;


  .center-credits{
    
    display: table-cell;
    vertical-align: middle;
    text-align: center;

  
    @media screen and (min-width: 800px) {
      padding-bottom: 200px;
    } 

  
  }

  .center-cell{
    display: inline-block;
    
    @media screen and (min-width: 550px) {
      // display: table-cell;
    }

    text-align: center;
    vertical-align: middle;
  }
  .bottom-cell{

    position: static;
    
    @media screen and (min-width: 550px) {
      position: fixed;
    }
    
    text-align: center;
    bottom: 50px;
    width: 100%;
    left: 0px;
  }

  
  a{
    @include transition( border-bottom 0.25s);
    color: $color--text;
    display: inline-block;
    border-bottom: 2px solid $color--text;
    text-decoration: none;

    &:hover{
      border-bottom: 2px solid rgba(255,255,255, 0);
    }
  }

}


// ==========================================================================
//
// Typography
// 

body {
  font-size: $base--font-size;
  line-height: $base--line-height;
}

h1, h2, h3 {
  font-family: $font--base;
  margin: 0;
  padding: 0;
}

h2{
  font-size: 30px;
  // padding-left: 20px;
  // padding-right: 20px;
   padding-bottom: 0.5em;


  @media screen and (min-width: 550px) {
    font-size: 50px;
     padding-bottom: 1em;
  }

  @media screen and (min-width: 800px) {
    font-size: 70px;
  }

  @media screen and (min-width: 1400px) {
    font-size: 80px;
  }
  line-height: 100%;
}

